/target
/dist
/node_modules
/apps/**/node_modules
/apps/editor/*.tsbuildinfo
/apps/renderer/dist
/apps/renderer/**/dist
/packages/**/node_modules
/packages/**/dist
/packages/pixel-react/native
.DS_Store
.te/
*.mp4
*.mov
*.mkv
*.webm
*.wav
*.mp3
*.m4a
*.png
*.jpg
*.jpeg
!assets/**/*.png
!assets/**/*.jpg
!assets/**/*.jpeg
