/target
/dist
/web/node_modules
/web/*.tsbuildinfo
/renderer/node_modules
/renderer/**/node_modules
/renderer/engine/target
/renderer/dist
/renderer/**/dist
/renderer/engine/packages/pixel-react/native
.DS_Store
.te/
*.mp4
*.mov
*.mkv
*.webm
*.wav
*.mp3
*.m4a
*.png
*.jpg
*.jpeg
!assets/**/*.png
!assets/**/*.jpg
!assets/**/*.jpeg
